# AUTH SERVICE

AUTH_DB_USER=auth_user
AUTH_DB_PASSWORD=auth_password
AUTH_DB_NAME=auth_db
AUTH_DB_PORT=5433

AUTH_SERVICE_PORT=3001

AUTH_JWT_SECRET=REEMPLAZAR_CON_SECRETO_JWT
AUTH_ENCRYPTION_KEY=REEMPLAZAR_CON_LLAVE_HEXADECIMAL_DE_64_CARACTERES

JWT_EXPIRES_IN=60
JWT_REFRESH_TIME_SECONDS=60


# COMICS SERVICE

COMICS_DB_USER=comics_user
COMICS_DB_PASSWORD=comics_password
COMICS_DB_NAME=comics_db
COMICS_DB_PORT=5434

COMICS_SERVICE_PORT=3002

# RENTALS SERVICE

RENTALS_DB_USER=rentals_user
RENTALS_DB_PASSWORD=rentals_password
RENTALS_DB_NAME=rentals_db
RENTALS_DB_PORT=5435

RENTALS_SERVICE_PORT=8001